DATABASE_URL="postgres://67fccce86698209d7190590455af26ee178a85d6541c478a7e34cc16254298d8:sk_axUaQcUxF0cSAuBtbFSR-@db.prisma.io:5432/postgres?sslmode=require&connect_timeout=30&pool_timeout=30"
CLOUDINARY_CLOUD_NAME="dnvm4kuel"
CLOUDINARY_UPLOAD_PRESET="royalbraids"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="dnvm4kuel"
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET="royalbraids"
NEXT_PUBLIC_CLARITY_PROJECT_ID="w0ftfc1oo3"
NEXT_PUBLIC_GA_MEASUREMENT_ID="G-4TZ9V0EXCD"
WHATSAPP_ACCESS_TOKEN=""
WHATSAPP_PHONE_NUMBER_ID=""
WHATSAPP_WEBHOOK_VERIFY_TOKEN=""
WHATSAPP_AGENT_NUMBER="+256781662904"
NEXT_PUBLIC_SITE_URL="https://royalbraids.ug"
